pyaudio
psutil
pyttsx3
SpeechRecognition
datetime
os
random
wikipedia
webbrowser
selenium
pyautogui
requests
instaloader
geocoder
google-generativeai
generativeai
beautifulsoup4
speedtest-cli
pywhatkit
googletrans
python-dotenv
pygments
