pyaudio
psutil
pyttsx3
SpeechRecognition
datetime
wikipedia
selenium
pyjokes
pyautogui
requests
instaloader
geocoder
google-generativeai
generativeai
bs4
speedtest
pywhatkit
googletrans
python-dotenv
comtypes
